body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("background.jpeg") no-repeat center center/cover;
  height: 100vh;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  margin: 20px auto 0 auto;
  width: 75%;

  padding: 10px 30px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.navigation img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navigation ul {
  margin-left: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 20px;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 11px;
  font-family: Arial, sans-serif;
}

.navigation a:hover {
  background-color: aliceblue;
  color: black;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 12px;
  transition: 0.5sec all ease;
}
.hero-info {
  color: white;
  text-align: left;
  margin-top: 150px;
  margin-left: 80px;
  font-family: Arial, sans-serif;
}

.hero-info a {
  color: white;
}

.hero-info h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-info p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
  max-width: 600px;
}

.buttons {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}

button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 18px;
}

.login-button:hover {
  background-color: white;
  color: black;
  transition: 0.5sec all ease;
}

.signup-button:hover {
  background-color: white;
  color: black;
}

.discover-more {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 40px;
  padding: 10px;
}

.discover-more a {
  color: white;
  font-size: 14px;
}

.discover-more a:hover {
  font-size: 18px;
}

.get-started-button:hover {
  background-color: white;
  color: black;
  padding: 15px 25px;
}
