body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  filter: blur(5x);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}
.company-name {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.company-description {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: -10px;
}

.login-btn {
  margin-top: 20px;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: black;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-btn {
  margin-top: 20px;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  border: 10px solid white;
}

.signup-btn:hover {
  border: 10px solid black;
}

.signup-btn a {
  color: black;
  text-decoration: none;
}
.login-btn a {
  color: white;
  text-decoration: none;
}
